body{
	background-color: #ffffff;
}
#firstnav{
	background-color: #691385;
	font-family: roboto;
  position: sticky;
  top:0;
  z-index:10;
}
.container{
	background-color: #691385;
	margin-top:5%;
}

.text{
	width:80%;
	height:500px;
	border-radius:5px;
}
form{
	text-align:center;
}
.heading{
	width:60%;
	border-radius:5px;
	
}
#yayinla{
	margin-top:20px;
	margin-bottom:150px;
}
h2{
	margin-top:50px;
	line-height:60px;
}

#giris{
	float: right;
	font-family: roboto;
}
#giris:hover{
	color:#b873d0 ;
}
.d-flex{
	margin-left: 20%;
	width: 500px;
}
#searchbtn{
	color:#ffffff;
	font-family: roboto;
}
#searchbtn:hover{
	background-color:#b873d0 ;
}
#left-sidebar{
  background-color: #460c5a;
  width: 18%;
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  float:left;
  height: 100%;
}
#adminsection{
  background-color:#fff;
  height: 100%;
}
.metismenu{
	padding-left: 0;
}
#Book{
	color:#ffffff;
	opacity: 0.7;
	width: 100%;
  margin-top: 50px;
	font-size: 20px;
	text-align: left;
	font-family: roboto;
}
#Book:hover{
	background-color:#b873d0 ;
	opacity: 1;
}
#Author{
	color:#ffffff;
	width: 100%;
	font-size: 20px;
	opacity: 0.7;
	text-align: left;
	font-family: roboto;
}
#Author:hover{
	background-color:#b873d0 ;
	opacity: 1;
}
#Category{
	color:#ffffff;
	width: 100%;
	font-size: 20px;
	opacity: 0.7;
	text-align: left;
	font-family: roboto;
}
#Category:hover{
	background-color:#b873d0 ;
	opacity: 1;
}
#Favorites{
	color:#ffffff;
	width: 100%;
	font-size: 20px;
  margin-top: 25%;
	opacity: 0.7;
	text-align: left;
	font-family: roboto;
}
#Favorites:hover{
	background-color:#b873d0 ;
	opacity: 1;
}
#BorrowedBooks{
	color:#ffffff;
	width: 100%;
	font-size: 20px;
	opacity: 0.7;
	text-align: left;
	font-family: roboto;
}
#BorrowedBooks:hover{
	background-color:#b873d0 ;
	opacity: 1;
}
#Help{
	color:#ffffff;
	width: 100%;
	font-size: 20px;
	opacity: 0.7;
  margin-top: 25%;
	text-align: left;
	font-family: roboto;
}
#Help:hover{
	background-color:#b873d0 ;
	opacity: 1;
}
#Contact{
	color:#ffffff;
	width: 100%;
	font-size: 20px;
	opacity: 0.7;
	text-align: left;
	font-family: roboto;
}
#Contact:hover{
	background-color:#b873d0 ;
	opacity: 1;
}

#Settings{
	color:#ffffff;
	width: 100%;
	font-size: 20px;
	bottom: 0%;
	opacity: 0.7;
	text-align: left;
	font-family: roboto;
}
#Settings:hover{
	background-color:#b873d0 ;
	opacity: 1;
}
#Settings{
	color:#ffffff;
	width: 100%;
	font-size: 20px;
	bottom: 0%;
	opacity: 0.7;
	text-align: left;
	font-family: roboto;
}
#Settings:hover{
	background-color:#67287c ;
	opacity: 1;
}
.card{
  background: rgb(61, 20, 78) !important;
  border-style: inset;
  border-width: 5px;
  
  border-color: #a44ebc;
  height: 30% !important;
  width: 30%;
  top: 60px;
  left:60px;
  border-radius: 25px;

}
#card-header-color {
  background-color: rgb(247, 177, 58) !important;
}
/* -------------- profile ---------------- */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 500px !important;
  margin-left:20%;
  margin-top:1%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #460c5a;
  color: #fff;
}

/* Style the back side */
.flip-card-back {
  background-color: #632a75;
  color: white;
  transform: rotateY(180deg);
}

/* -------------- LOGIN ---------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body,
html {
  margin: 0;
  height: 100%;
}

input {
  border: none;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color .2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65)
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.ghost-round2 {
  cursor: pointer;
  background: #32083f;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.ghost-round2:hover {
  background-color:#b873d0 ;
	opacity: 1;
}
.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.input-line2 {
  background: none;
  margin-top: 80px;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: 24px;
  font-size: 1.2rem;
  border-top: 5px solid rgba(255, 255, 255, 0.65);
  border-bottom: 5px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.input-line {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.full-width2 {
  width: 100%;
  color: #fff;
}
.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  height: 100%;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.welcome {
  font-weight: 200;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.subtitle {
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
}

.window {
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 560px;
  width: 360px;
  background: #fff;
}
.overlay2 {
  background-color: #67287c;
  height: 700px;
  width: 1100px;
  box-sizing: border-box;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 25px;
}
.overlay {
  background-color: #791f97;
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
}

.bold-line {
  background: #e1bef7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity:0.5;
  background-size:cover;
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}

#CardNo::placeholder{
  color:#000000;
  opacity: 40%;
}